.landing {
    font-family: 'Inter';
    font-weight: 800;
}

.landing .keepit-logo {
    position: fixed;
    top: 7%;
    left: 5%;
    font-size: 3.5vh;
    color: var(--app-black);
}

.landing-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: static;
}

.landing-cont {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.landing-titulo {
    width: 55vw;
    font-size: 5vh;
    margin-bottom: 6vh;
}

.landing-subtitulo {
    width: 38vw;
    font-size: 3vh;
    color: #8E8E8E;
}

.landing-boton {
    display: flex;
    height: 7vh;
    width: 12vw;
    background-color: var(--app-violet);
    color: var(--app-white);
    border-radius: 100px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .25);
    margin-top: 11vh;
    text-decoration: none;
    font-size: 2.5vh;
    padding: 0 1vw;
}

.circulo-boton {
    display: flex;
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 25px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.circulo-boton span {
    color: #000000;
}